.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    padding: 5vw 10vw;
    background-color: #f8f8f8;
    width: 100%;
    .header_title {
      color: #4f4f4f;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-right: 16vw;
      margin-bottom: 2vw;
      .header_title_text {
        font-size: 2vw;
      }
    }
    .header_content {
      line-height: 2vw;
      width: 35%;
      color: #898989;
      .header_oList {
        text-align: start;
        li {
          font-size: 1.2vw;
          margin-right: 1vw;
          a {
            color: #4fb77b;
            text-decoration: none;
            font-size: 1.2vw;
          }
        }
      }
    }
  }
  .body {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5vw 10vw 0 10vw;
    .body_standardSlider {
      .body_standardSlider_tiltle {
        padding: 5vw 0;
        .standardSlider_tiltle {
          font-size: 1.8vw;
          letter-spacing: 0.5vw;
          margin-bottom: 2vw;
          color: #4f4f4f;
        }
        .standardSlider_content {
          height: 100%;
          font-size: 1.5vw;
          color: #898989;
        }
      }
    }
    .body_sliderThumbNailControls {
      margin-top: 5vw;
      .body_sliderThumbNailControls_tiltle {
        padding: 5vw 0;
        .sliderThumbNailControls_tiltle {
          font-size: 1.8vw;
          letter-spacing: 0.5vw;
          margin-bottom: 2vw;
          color: #4f4f4f;
        }
        .sliderThumbNailControls_content {
          height: 100%;
          font-size: 1.5vw;
          color: #898989;
        }
      }
    }
    .body_lightBoxGridGallery {
      margin-top: 5vw;
      .body_lightBoxGridGallery_tiltle {
        padding: 5vw 0;
        .lightBoxGridGallery_tiltle {
          font-size: 1.8vw;
          letter-spacing: 0.5vw;
          margin-bottom: 2vw;
          color: #4f4f4f;
        }
        .lightBoxGridGallery_content {
          height: 100%;
          font-size: 1.5vw;
          color: #898989;
        }
      }
    }
  }
}
