.container {
  flex: 1;
  height: 100%;
  cursor: pointer;
  .container_pause {
    font-size: 1.2vmax;
  }
  .container_pauseNew {
    font-size: 1.2vmax;
    animation: pause 1s linear infinite;
  }
  @keyframes pause {
    from {
      transform: scale(1.2);
      color: peru;
      opacity: 1;
    }
    to {
      transform: scale(1);
      color: peru;
      opacity: 0.5;
    }
  }
}
