.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14vw;
  .container_product {
  }
  .container_productPrices {
  }
  .container_ProductInfo {
  }
  .container_Audit {
  }
  .container_SoldPercentage {
  }
}
