.navbar {
  margin: 0 10vw;
  padding: 0.5vw 1vw;
  background-color: rgba(17, 17, 17, 0.3);
  display: flex;
  .container_fluid {
    display: flex;
    flex-direction: row;
    .navbar_brand {
      margin-top: -10px;
      .navbar_logo {
        width: 10vw;
        object-fit: cover;
      }
    }
    .navbar_toggler {
      .navbar_toggler_icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    .navbar_collapse {
      .navbar_nav {
        width: 100%;
        margin-top: 5px;
        margin-right: 10px;
        justify-content: end;
        .nav_item {
          width: 10vw;
          text-align: center;
          .nav_link {
            color: white;
            font-size: 1vw;
          }
          .nav_link:hover {
            background-color: rgba(17, 17, 17, 0.5);
          }
          .dropdown_menu {
            margin-top: 1.7vh;
            z-index: 9999;
            padding: 0;
            border-radius: 0px;
            border: none;
            background: none;
            .dropdown_item {
              text-align: center;
              width: 10vw;
              padding: 5px;
              text-transform: uppercase;
              background: none;
              border: none;
              color: white;
              font-size: 1vw;
            }

            .dropdown_item:hover {
              background-color: rgba(17, 17, 17, 0.5);
            }
          }
          @media screen and(max-width: 1000px) {
            .dropdown_menu {
              margin-top: 0vh;
            }
          }
        }
      }
      .d_flex {
        .form_logo {
          margin-top: 4px;
          margin-left: 0;
        }
        .form_control {
          font-size: 10px;
          width: 10vw;
        }
      }
    }
  }
}
