.container {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 1vw;
  margin-bottom: 1.5vw;
  font-weight: 700;
  flex-grow: 1;
  .container_prices {
    color: #729f18;
    font-size: 1.2vw;
    height: 3vw;
    padding: 0.52vw 0;
    margin-right: 0.3vw;
  }
  .container_saleOff {
    font-size: 1vw;
    color: #f24604;
    height: 3vw;
    padding: 0.7vw 0;
  }
  .container_discount {
    font-size: 1vw;
    color: #a7a2a2;
    text-decoration: line-through;
    height: 3vw;
    padding: 0.7vw 0;
    margin-right: 0.3vw;
  }
}
