.container {
  padding: 0;
  margin: 0;
  color: var(--color-white);
  transition: all 0.3s linear;
  background-image: linear-gradient(
    120deg,
    transparent,
    rgba(17, 17, 17, 0.7) 60%,
    rgb(17, 17, 17),
    rgb(17, 17, 17)
  );
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(202, 198, 198, 0.8);
  .container_img {
    width: 360px;
    object-fit: cover;
    @media screen and (max-width: 1200px) {
      width: 300px;
    }
    @media screen and (max-width: 992px) {
      width: 250px;
    }
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }

  .container_card_meta {
    margin: auto;
    max-width: 150px;
    .container_name {
      font-size: 20px;
      font-weight: 700;
      margin: auto;
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      background: -webkit-linear-gradient(rgb(201, 85, 13), rgb(196, 184, 27));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: run 8s linear infinite;
      @media screen and (max-width: 1200px) {
        font-size: 18px;
      }
      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    @keyframes run {
      from {
        transform: translateX(-150px);
        opacity: 0.5;
      }
      to {
        transform: translateX(200px);
        opacity: 1;
      }
    }
  }
}
