.container {
  margin: 20px 10vw;
  .container_formLogin {
    text-align: center;
    margin: 1vw 0;
    h1 {
      font-size: 2vw;
      background: -webkit-linear-gradient(red, #ffd700);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .container_formLogin_body {
      margin: 0 auto;
    }
  }
}
