.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  .container_productImage {
    text-align: center;
    width: 14vw;
    height: 18vw;
    margin-bottom: 2vw;
  }
  .container_productName {
    color: #383837;
    font-weight: 700;
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
    word-wrap: break-word;
    flex-basis: 6vw;
  }
  .container_productInfor {
    color: #8a8177;
    font-size: 1vw;
    text-align: justify;
    text-indent: 1.5vw;
    margin-bottom: 1vw;
    word-wrap: break-word;
    flex: 1;
  }
}
