.container {
  margin-right: 10px;
  .container_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container_form_left,
    .container_form_right {
      width: 14vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .container_form_label {
        width: 14vw;
        text-align: start;
        font-size: 1vw;
        color: #697b8e;
        font-weight: 700;
        margin-bottom: 3px;
      }
      .container_form_field {
        font-size: 1vw;
        height: 2.5vw;
        width: 14vw;
        color: #697b8e;
      }
      .container_form_error {
        flex-basis: 1vw;
        font-size: 0.5vw;
        width: 14vw;
        color: #697b8e;
        text-align: start;
        font-style: italic;
      }
    }
  }
}
